.companies-container {

    display: flex;
    flex-direction: column;
}

.table-responsive {

    width: 90% ;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    /* color: red !important; */
    
    
}

.pagination-container {

    /* background-color: red; */
    width: 400px;
    margin: 50px auto;
}


.button-container {

    display: flex;
    flex-direction: column;
}

.Pagination {


    margin: 0 auto
}

.th-title:nth-child(5) {

    min-width:200px !important;
    /* background:red; */
}

.th-title:nth-child(7) {

    max-width:100px !important;
    /* background:red; */
}

.th-title:nth-child(8) {

    max-width:100px !important;
    /* background:red; */
}
.th-title{

    background-color:rgb(7, 143, 184) !important;
    color: white; 
    text-align: center

}