.company-container {}

.header {

    padding: 50px 50px;
    display: flex;
    justify-content: space-between;

    background-color: rgb(7, 143, 184);
    color: aliceblue;
    
}

.company-body {
    padding: 50px 100px;
    background-color: rgb(164, 193, 202);
    font-size: 19px;

}

