.container {
  /* background-color: rgb(213, 198, 198); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* background-color: red; */
  /* height: 100%; */
  /* width: 100%; */
  border: 3px solid rgb(220, 212, 218);
border-radius: 6px;
}

.form-container {
  /* background-color: red; */
  width: 50%;
  margin-top:100px;
}


.message {
  background-color: blue;

  margin: 30px auto;
  width: 400px;
  text-align: center;

  margin-bottom: 20px;

}


.button-container {

  margin-top: 50px;


}

.button-form {

  display: block;

  margin-bottom: 20px;

}

/* button:hover {
  background-color: #c5c5c5;
} */